<app-mainsearch></app-mainsearch>
<div class="content">
    <div class="content_container row">
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/high-quality-icons.svg" alt="">
            <h4>High-Quality Domains</h4>
            <h6>Find a domain that suits your project. We make smart suggestions depending on what you need the domain for.</h6>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/easy-icon.svg" alt="">
            <h4>Easy to Remember</h4>
            <h6>Get a domain that is easy to pronounce and remember for your visitors. This ensures they will come back again.</h6>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/seo-icon.svg" alt="">
            <h4>SEO-Friendly</h4>
            <h6>The suggested domains contain your keywords in a natural way that is loved by both visitors and search engines.</h6>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/fee-icon.svg" alt="">
            <h4>Regular Registration Fee</h4>
            <h6>Some domains cost hundreds or thousands of dollars. We only show those that cost the regular price.</h6>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/safety-icon.svg" alt="">
            <h4>Full Safety</h4>
            <h6>We do not track what you type into our application nor which domain you decide for. Your ideas are safe.</h6>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center content_info">
            <img src="./assets/images/free-icon.svg" alt="">
            <h4>100% Free to Use</h4>
            <h6>We earn a commission from the domain registrar if you buy one of our suggested domains. No costs for you.</h6>
        </div>
    </div>
</div>
