<div class="header container">
	<h1 routerLink="/" class="footer-page-title search_title">Domain<span>Author</span></h1>
</div>
<div class="container affiliate-disclaimer">
	<h2 class="text-center main-heading">Affiliate Disclaimer</h2>
	<p>
		We participate in affiliate programs of the following companies:
	</p>
	<ul>
		<li>GoDaddy</li>
		<li>Namecheap</li>
		<li>Bluehost</li>
	</ul>
	<p>
		If you decide to buy something (e.g. a domain) from these companies after having clicked on one of our affiliate links on DomainAuthor.com, we will receive a commission from these companies (no costs arising for you).
	</p>
	<p>
		Please note that we are not getting paid or receive free products or services in exchange for mentioning these companies. Participating in these companies’ affiliate programs has been our decision as we trust them.
	</p>
</div>