.setting_modal:hover,
.setting_modal:focus {
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 0px 4px rgba(255, 0, 0, 1);
}

.setting_modal {
    padding-left: 0;
}
.spinner.hideSpinner { visibility: hidden !important; }
.spinner.showSpinner { visibility: block !important; }
.search_form {
    width: 830px;
    left:30px;
}
.error-message {
    margin-left: 258px;
}
.responsive-search-btn .btn{
	margin-top: -6px;
}
.header_setting span {
    font-size: 15px !important;
}
@media (max-width:767px) {
    .header {
        margin-top: -120px;
    }
    .search_form {
        width: 500px;
        left:0;
    }
    .error-message {
        margin-left: 25px;
        margin-top: 10px;
    }
    .title {
        font-size: 45px;
    }
    .responsive-search-btn {
        display: block;
        float: left;
        margin-left: 25%;
        margin-top: 15px;
    }
    .responsive-search-btn .btn {
        width: 150px;
    }
    .responsive-search-spinner {
        display: block;
        float: left;
        margin-left: 46%;
        margin-top: 20px;
    }
    .responsive-search-box {
        width: 100% !important;
    }
    .header_setting a{
        font-size: 15px !important;
    }
    .header_setting span {
        font-size: 12.5px !important;
        display: block;
    }
    .header_setting .divider {
        border-right: none !important;
    }
}
@media (max-width: 425px) {
    .header {
        margin-top: -90px;
    }
    .search_form {
        width: 310px;
        left:0;
    }
    .error-message {
        margin-left: 25px;
        margin-top: 10px;
    }
    .title {
        font-size: 35px;
    }
    .responsive-search-btn {
        display: block;
        float: left;
        margin-left: 25%;
        margin-top: 15px;
    }
    .responsive-search-btn .btn {
        width: 150px;
    }
    .responsive-search-spinner {
        display: block;
        float: left;
        margin-left: 46%;
        margin-top: 20px;
    }
    .responsive-search-box {
        width: 100% !important;
    }
    .header_setting a{
		font-size: 15px !important;
	}
    .header_setting span {
        font-size: 12.5px !important;
        display: block;
    }
    .header_setting .divider {
        border-right: none !important;
    }
}
@media (max-width: 420px) {
    .header {
        margin-top: -90px;
    }
    .search_form {
        width: 310px;
        left:0;
    }
    .error-message {
        margin-left: 25px;
        margin-top: 10px;
    }
    .title {
        font-size: 35px;
    }
    .responsive-search-btn {
        display: block;
        float: left;
        margin-left: 25%;
        margin-top: 17px;
    }
    .responsive-search-btn .btn {
        width: 150px;
    }
    .responsive-search-spinner {
        display: block;
        float: left;
        margin-left: 46%;
        margin-top: 20x;
    }
    .responsive-search-box {
        width: 100% !important;
    }
    .header_setting a{
        font-size: 15px !important;
    }
    .header_setting span {
        font-size: 12.5px !important;
        display: block;
    }
    .header_setting .divider {
        border-right: none !important;
    }
}
@media screen and (max-width: 570px) {
    .search_form button img {
        width: 22px;
    }
    .search_form button img {
        margin-right: 10px;
        margin-top: -7px;
        left:0;
    }
    .header_setting a{
        font-size: 15px !important;
    }
    .header_setting span {
        font-size: 12.5px !important;
        display: block;
    }
    .header_setting .divider {
        border-right: none !important;
    }
}
