<div class="header">
    <h1 class="title">Domain<span>Author</span></h1>
    <h3 class="sub_title">Find the best domain for your next project</h3>
    <div class="input-group search_form" style="width: 830px;">
        <div class="form-group  has-feedback">
            <input (keyup.enter)="search()" type="text" class="form-control" [(ngModel)]="keyword" id="inputSuccess5" placeholder="Enter a topic or keyword">
        </div>
        <span class="input-group-btn">
            <button (click)="search()" class="btn" type="button"><img src="./assets/images/search-icon.svg" alt="">Search</button>
        </span>
        <span class="input-group-btn spinner" [ngClass]="{hideSpinner: hideSpinner, showSpinner: showSpinner}">
            <img src="./assets/images/Spinner.gif" alt="" style="height:50px;">
        </span>
    </div>
    <div class="header_setting">
        <span class="setting_modal"><a (click)="openSettingDialog()"><img src="./assets/images/settings-icon.svg" alt=""></a>
            <a (click)="openSettingDialog()" class="divider">Settings</a></span>

        <span>Please do not infringe any trademarks with this tool</span>
    </div>
    <div class="header_img">
        <img src="./assets/images/com_desk.png" alt="">
    </div>
</div>
