.title.search_title {
    font-size: 35px;
    margin: 40px 0;
}

.title.search_title:hover,
.title.search_title:focus {
    cursor: pointer;
    outline: none;
}

.social_link {
    position: absolute;
    top: 75px;
    z-index: 1000;
}

.social_link a {
    display: block;
    margin-bottom: 15px;
    color: #fff;
    width: 80px;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    font-size: 11px;
    font-family: OpenSansBold;
}

@media screen and (max-width: 992px) {
    /*.social_link a {
        margin-left: -65px;
    }
    .social_link a:hover {
        margin-left: 0;
    }*/
    .social_link {
        position: relative;
        top: -5px;
        text-align: center;
    }
    .social_link a {
        display: inline-block;
        margin: 0 5px;
        padding-left: 0;
    }
}

.social_link a i {
    padding-right: 14px;
    font-size: 14px;
}

.social_link a .fa-twitter {
    padding-right: 10px!important;
}

.social_link .like_link {
    background-image: url(../../assets/images/share-btn.png);
}

.social_link .tweet_link {
    background-image: url(../../assets/images/tweet-btn.png);
}

.search_setting.search_setting {
    margin-bottom: 38px;
}

.setting_modal:hover,
.setting_modal:focus {
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 0px 4px rgba(255, 0, 0, 1);
}

.setting_modal {
    padding-left: 0;
}

.spinner.hideSpinner { visibility: hidden !important; }
.spinner.showSpinner { visibility: block !important; }
.search_form {
    width: 830px;
    left:30px;
}
.error-message {
    margin-left: 258px;
}
.header_setting span {
    font-size: 15px !important;
}
@media (max-width:767px) {
    .search_form {
        width: 500px;
    }
    .error-message {
        margin-left: 25px;
        margin-top: 10px;
        left: 0;
    }
    .title {
        font-size: 45px;
    }
    .responsive-search-btn {
        display: block;
        float: left;
        margin-left: 25%;
        margin-top: 15px;
    }
    .responsive-search-btn .btn {
        width: 150px;
    }
    .responsive-search-spinner {
        display: block;
        float: left;
        margin-left: 46%;
        margin-top: 20px;
    }
    .responsive-search-box {
        width: 100% !important;
    }
    .header_setting a{
        font-size: 15px !important;
    }
    .header_setting span {
        font-size: 12.5px !important;
        display: block;
    }
    .header_setting .divider {
        border-right: none !important;
    }
    .fb-share-button {
        display: inline-block;
    }
}
@media (max-width: 425px) {
    .search_form {
        width: 310px;
    }
    .error-message {
        margin-left: 25px;
        margin-top: 10px;
        left:0;
    }
    .title {
        font-size: 35px;
    }
    .responsive-search-btn {
        display: block;
        float: left;
        margin-left: 25%;
        margin-top: 15px;
    }
    .responsive-search-btn .btn {
        width: 150px;
    }
    .responsive-search-spinner {
        display: block;
        float: left;
        margin-left: 46%;
        margin-top: 20px;
    }
    .responsive-search-box {
        width: 100% !important;
    }
    .header_setting a{
        font-size: 15px !important;        
    }
    .header_setting span {
        font-size: 12.5px !important;
        display: block;
    }
    .header_setting .divider {
        border-right: none !important;
    }
    .fb-share-button {
        display: inline-block;
    }
}
@media (max-width: 420px) {
    .search_form {
        width: 310px;
    }
    .error-message {
        margin-left: 25px;
        margin-top: 10px;
        left:0;
    }
    .title {
        font-size: 35px;
    }
    .responsive-search-btn {
        display: block;
        float: left;
        margin-left: 25%;
        margin-top: 17px;
    }
    .responsive-search-btn .btn {
        width: 150px;
    }
    .responsive-search-spinner {
        display: block;
        float: left;
        margin-left: 46%;
        margin-top: 20x;
    }
    .responsive-search-box {
        width: 100% !important;
    }
    .header_setting a{
        font-size: 15px !important;            
    }
    .header_setting span {
        font-size: 12.5px !important;
        display: block;
    }
    .header_setting .divider {
        border-right: none !important;
    }
    .fb-share-button {
        display: inline-block;
    }
}
