<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="header">
    <h1 routerLink="/" class="title search_title">Domain<span>Author</span></h1>
    <div class="input-group search_form">
        <div class="form-group  has-feedback">
            <input type="text" class="form-control responsive-search-box" id="inputSuccess5" [(ngModel)]="keyword" placeholder="Enter a topic or keyword">
        </div>
        <span class="input-group-btn responsive-search-btn">
            <button (click)="search()" class="btn" type="button"><img src="./assets/images/search-icon.svg" alt="">Search</button>
        </span>
        <span class="input-group-btn spinner responsive-search-spinner" [ngClass]="{hideSpinner: hideSpinner, showSpinner: showSpinner}">
            <img src="./assets/images/Spinner.gif" alt="" style="height:50px;">
        </span>
    </div>
    <div *ngIf="showNullError" class="error-message">
        <p style="color:#d9534f">At least one character long keyword is required</p>
    </div>
    <div *ngIf="showMaxLimitError" class="error-message">
        <p style="color:#d9534f">At most 45 characters long keyword is allowed </p>
    </div>
    <div *ngIf="showletterNumberError" class="error-message">
        <p style="color:#d9534f">Only english alphanumeric keyword is allowed</p>
    </div>
    <div class="header_setting search_setting">
        <span class="setting_modal">
            <a (click)="openSettingDialog()">
                <img src="./assets/images/settings-icon.svg" alt="">
            </a>
            <a (click)="openSettingDialog()" class="divider">Settings</a>
        </span>
        <span>Please do not infringe any trademarks with this tool</span>
    </div>
    <div class="social_link">
        <a href="" class="like_link" href="https://www.facebook.com/DomainAuthor/" target="_blank"><i class="fa fa-facebook"></i>Like</a>
        <div class="fb-share-button" data-href="https://domainauthor.com" data-layout="button" data-size="small" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore like_link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdomainauthor.com%2F&amp;src=sdkpreparse">
                <i class="fa fa-facebook"></i>Share
            </a>
        </div>
        <a href="" class="tweet_link" href="https://twitter.com/intent/tweet?text=https://domainauthor.com" target="_blank"><i class="fa fa-twitter"></i>Tweet</a>
    </div>
</div>