<div class="header container">
	<h1 routerLink="/" class="footer-page-title search_title">Domain<span>Author</span></h1>
</div>
<div class="container terms-of-use">
	<h2 class="text-center main-heading">Terms of Use</h2>
	<p>
		The following terms and conditions (“Terms”) govern all use of DomainAuthor.com (the “Site” or “Website”) and all content, services, and products available at or through the Website. Our services are offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, DomainAuthor.com’s Privacy Policy) and procedures that may be published from time to time by DomainAuthor.com (collectively, the “Agreement”). 
	</p>

	<p>
		Please read this Agreement carefully before accessing or using our Website. By accessing or using any part of our Website, you agree to become bound by the Terms of this Agreement. If you do not agree to all the Terms of this Agreement, then you may not access or use any our Website. If these Terms are considered an offer by DomainAuthor.com, acceptance is expressly limited to these Terms.
	</p>
	<p>
		DomainAuthor.com is not directed to children younger than 13. If you are under 13 years old, please do not use our Website.
	</p>
	<ol>
		<li><b>Prohibited Uses</b></li>
		<p>
			You may not use DomainAuthor.com for any unlawful purposes, including but not limited to infringing or misappropriating the intellectual property rights of any third party. We may terminate your access to DomainAuthor.com if we determine (in our sole discretion) that your use is in any way harmful or objectionable.
		</p>
		<li><b> Responsibility of Visitors</b></li>
		<p>
			DomainAuthor.com has not reviewed, and cannot review, all of the material, including search results, computer software and comments, posted to our Website, and cannot therefore be responsible for that material’s content, use or effects. By operating the Website, DomainAuthor.com does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful, or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. Our Website may contain content that contains technical inaccuracies, typographical mistakes, and other errors. DomainAuthor.com disclaims any responsibility for any harm resulting from the use by visitors of our Website, or from any downloading by those visitors of content there posted.
		</p>
		<li><b>Content Posted on Other Websites</b></li>
		<p>
			We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which DomainAuthor.com links, and that link to DomainAuthor.com. DomainAuthor.com does not have any control over those non-DomainAuthor.com.com websites, and is not responsible for their contents or their use. By linking to a non-DomainAuthor.com website, DomainAuthor.com does not represent or imply that it endorses such website. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. DomainAuthor.com disclaims any responsibility for any harm resulting from your use of non-DomainAuthor.com websites and webpages.
		</p>
		<li><b>Copyright Infringement</b></li>
		<p>
			If you believe that material located on or linked to by DomainAuthor.com violates your copyright, you are encouraged to notify DomainAuthor. DomainAuthor.com will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. DomainAuthor.com will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of DomainAuthor.com or others.
		</p>
		<li><b>Intellectual Property</b></li>
		<p>
			This Agreement does not transfer from DomainAuthor.com to you any DomainAuthor.com or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with DomainAuthor.com. Other trademarks, service marks, graphics and logos used in connection with our Website may be the trademarks of other third parties. Your use of our Website grants you no right or license to reproduce or otherwise use any DomainAuthor.com or third-party trademarks.
		</p>
		<li><b>Domain Names</b></li>
		<p>
			We do not act as a domain registrar. We work with third party registrars in order to provide our users with domain names, web hosting and other related services. When you register a domain name, you become bound by the relevant registrar’s terms and conditions. Which registrar terms apply depends on the domain you choose, and in some cases, the date you register your domain, so please determine which agreement(s) apply to you. These registrar terms are incorporated by reference into these Terms.
		</p>
		<p>
			Further, your use of the domain name is also subject to the policies of the Internet Corporation for Assigned Names and Numbers (“ICANN”). You can read about <a href="https://www.icann.org/resources/pages/benefits-2013-09-16-en" target="_blank">your rights and responsibilities as a domain name registrant</a> under ICANN’s Registrar Accreditation Agreement and about <a href="https://www.icann.org/resources/pages/educational-2012-02-25-en" target="_blank">domain name registration generally.</a>
		</p>
		<li><b>Changes</b></li>
		<p>
			We are constantly updating our Website, and that means sometimes we have to change the legal terms under which our Website is offered. If we make changes that are material, we will let you know by posting to our blog, or by sending you an email or other communication before the changes take effect. The notice will designate a reasonable period of time after which the new terms will take effect. If you disagree with our changes, then you should stop using our Website within the designated notice period. Your continued use of our Website will be subject to the new terms. 
		</p>
		<li><b>Termination</b></li>
		<p>
			DomainAuthor.com may terminate your access to all or any part of our Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement, you may simply discontinue using our Website. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, warranty disclaimers, indemnity and limitations of liability.
		</p>
		<li><b>Disclaimer of Warranties</b></li>
		<p>
			Our Website is provided “as is.” DomainAuthor.com and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither DomainAuthor.com nor its suppliers and licensors, makes any warranty that our Website will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, our Website at your own discretion and risk.
		</p>
		<li><b>Jurisdiction and Applicable Law</b></li>
		<p>
			This Agreement is governed by and shall be construed in accordance with the laws of Germany. The courts of Regensburg, Germany shall have exclusive jurisdiction for all disputes arising under or in connection with this Agreement.
		</p>
		<li><b>Limitation of Liability</b></li>
		<p>
			In no event will DomainAuthor.com, or its suppliers or licensors, be liable with respect to any subject matter of this Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; or (iii) for interruption of use or loss or corruption of data. DomainAuthor.com shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
		</p>
		<li><b>General Representation and Warranty</b></li>
		<p>
			You represent and warrant that (i) your use of our Website will be in strict accordance with the DomainAuthor.com Privacy Policy, with this Agreement, and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the country in which you reside) and (ii) your use of our Website will not infringe or misappropriate the intellectual property rights of any third party.
		</p>
		<li><b>Indemnification</b></li>
		<p>
			You agree to indemnify and hold harmless DomainAuthor.com, its contractors, and its licensors, and their respective directors, officers, employees, and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of our Website, including but not limited to your violation of this Agreement or violation of any third party right.
		</p>
		<li><b>Miscellaneous</b></li>
		<p>
			This Agreement constitutes the entire agreement between DomainAuthor.com and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of DomainAuthor.com, or by the posting by DomainAuthor.com of a revised version.
		</p>
		<p>
			If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof.
		</p>
		<p>
			You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; DomainAuthor.com may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
		</p>
		<p><i>
			These Terms of Use are a modified version of the Terms of Service of <a href="https://wordpress.com/" target="_blank">WordPress.com</a> that have been made available under the <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Attribution-ShareAlike 4.0 International license.</a>
		</i></p>
	</ol>
</div>